# Data Types and Structures Questions

 Q1 What are data structures, and why are they important?

 * Data structures are ways to organize, store, and manage data in a computer so it can be used efficiently.
They are important because they:

  * Help store and retrieve data quickly

   * Make code cleaner and more efficient

  * Support different types of operations (searching, sorting, etc.)

 Q2 Explain the difference between mutable and immutable data types with examples

 - Mutable: Can be changed after creation
Example: list, dict, set

- Immutable: Cannot be changed after creation
Example: int, str, tuple

In [ ]:
a = [1, 2, 3]
a[0] = 10  # Now a is [10, 2, 3]
a

[10, 2, 3]

In [ ]:
s = "hello"
s[0] = 'H'  # ❌ Not allowed

TypeError: 'str' object does not support item assignment

 Q3 What are the main differences between lists and tuples in Python ?

 | Feature     | List              | Tuple          |
| ----------- | ----------------- | -------------- |
| Mutability  | Mutable           | Immutable      |
| Syntax      | `[1, 2, 3]`       | `(1, 2, 3)`    |
| Performance | Slower            | Faster         |
| Use Case    | When data changes | For fixed data |

 Q4 Describe how dictionaries store data.

 - Dictionaries store data in key-value pairs using a structure called a hash table.
Example:

In [ ]:
student = {"name": "Alice", "age": 20}
student["age"]

20

 Q5 Why might you use a set instead of a list in Python?
 * Use a set when:

   * You want to remove duplicates

  * You need fast membership tests

In [ ]:
nums = [1, 2, 2, 3]
unique = set(nums)  # {1, 2, 3}
unique

{1, 2, 3}

Q6 What is a string in Python, and how is it different from a list?

- A **string** is a sequence of characters (e.g., "hello")

- A **list** is a collection of items, which can be of any type

* Difference:

 * Strings are immutable, lists are mutable

 * Strings can only contain characters, lists can contain any data type

Q7 How do tuples ensure data integrity in Python?
- Tuples are immutable, meaning once created, their content cannot be changed. This prevents accidental modification and ensures the data stays consistent.

Q8 What is a hash table, and how does it relate to dictionaries in Python?
- A hash table is a data structure that maps keys to values using a hash function.
Dictionaries in Python are built using hash tables, which allow for fast data retrieval using keys.

Q9 Can lists contain different data types in Python?
- Yes, Python lists can store mixed data types:

In [ ]:
my_list = [1, "apple", 3.14, True]
my_list

[1, 'apple', 3.14, True]

Q10 Explain why strings are immutable in Python.

* **Strings are immutable to:**

 * Make them hashable, so they can be used as dictionary keys

 * Improve performance and security

 * Prevent bugs due to accidental changes

 Q11 What advantages do dictionaries offer over lists for certain tasks?

 * **Dictionaries are better when:**

  * You need to look up data by name (key), not position

  * You want clear, labeled data

  * You need fast access to elements by key

 Q12 Describe a scenario where using a tuple would be preferable over a list.

 - Use a tuple when:

    *  You want to protect data from changes

    * You're using it as a dictionary key
    * Example: Storing GPS coordinates:

In [ ]:
location = (28.6139, 77.2090)
location

(28.6139, 77.209)

 Q13 How do sets handle duplicate values in Python?
 - Sets automatically remove duplicates.

In [ ]:
sets = {1, 2, 3, 3, 4}
sets

{1, 2, 3, 4}

 Q14 How does the “in” keyword work differently for lists and dictionaries?
 - In a list, it checks if the value exists:

In [ ]:
3 in [1, 2, 3]  # True

True

- In a dictionary, it checks for the key:

In [ ]:
"name" in {"name": "Alice"}  # True

True

 Q15 Can you modify the elements of a tuple? Explain why or why not?
 - No, you cannot modify the elements of a tuple in Python because tuples are immutable.

Q16 What is a nested dictionary, and give an example of its use case?
- A nested dictionary is a dictionary inside another dictionary.
Example:

In [ ]:
students = {
    "101": {"name": "Alice", "age": 20},
    "102": {"name": "Bob", "age": 22}
}

students["101"]

{'name': 'Alice', 'age': 20}

Q17 Describe the time complexity of accessing elements in a dictionary.
- Access time is O(1) on average, due to hash table implementation.

Q 18 In what situations are lists preferred over dictionaries?
* Use lists when:

  * You care about order

 * You only need to store sequential values

 * You don’t need to label elements with keys

Q19  Why are dictionaries considered unordered, and how does that affect data retrieval?
- In older Python versions (<3.7), dictionaries were unordered.
From Python 3.7+, dictionaries preserve insertion order, but the concept is still that they are key-based, not index-based, so you can’t access elements by position like lists.

Q20  Explain the difference between a list and a dictionary in terms of data retrieval.
 - List: Retrieve by index
 - Dictionary: Retrieve by key

#NEW SECTION
#**PRACTICAL QUETIONS**

 Q1 Write a code to create a string with your name and print it

In [ ]:
My_Name = "Divanshu Patel"
print(type("My_Name"))
print(My_Name)

<class 'str'>
Divanshu Patel

Q2 Write a code to find the length of the string "Hello World"

In [ ]:
print("hello world")
len("hello world")

hello world

11

 Q3 Write a code to slice the first 3 characters from the string "Python Programming"

In [ ]:
print("Python Programming")
print("Python Programming"[0:3])

Python Programming
Pyt

Q 4  Write a code to convert the string "hello" to uppercase

In [ ]:
print("hello".upper())

HELLO

Q5 Write a code to replace the word "apple" with "orange" in the string "I like apple"

In [ ]:
print("I like apple".replace("apple", "orange"))

I like orange

Q6 Write a code to create a list with numbers 1 to 5 and print it

In [ ]:
from typing import List
List  = [1, 2, 3, 4, 5]
print(List)

[1, 2, 3, 4, 5]

Q7 Write a code to append the number 10 to the list [1, 2, 3, 4]

In [ ]:
list1 = [1, 2, 3, 4]
list1.append(10)
print(list1)

[1, 2, 3, 4, 10]

Q8 Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]

In [ ]:
List2 = [1, 2, 3, 4, 5]
List2.remove(3)
print(List2)

[1, 2, 4, 5]

Q9 Write a code to access the second element in the list ['a', 'b', 'c', 'd']

In [ ]:
list3 = ['a', 'b', 'c', 'd']
print(list3[1])

b

Q10 Write a code to reverse the list [10, 20, 30, 40, 50].

In [ ]:
List4 = [10, 20, 30, 40, 50]
List4.reverse()
print(List4)

[50, 40, 30, 20, 10]

Q11 . Write a code to create a tuple with the elements 100, 200, 300 and print it.

In [ ]:
print(tuple([100, 200, 300]))

(100, 200, 300)

Q12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

In [ ]:
print(('red', 'green', 'blue', 'yellow')[1])

green

Q13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).

In [ ]:
tpl3 = (10, 20, 5, 15)
print(min(tpl3))

5

Q14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [ ]:
tuple4 = ('dog', 'cat', 'rabbit')
print(tuple4.index('cat'))

1

 Q15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it

In [ ]:
tuple5 = ('apple', 'banana', 'kiwi')
print('kiwi' in tuple5)

True

Q 16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.

In [ ]:
set1 = {'a', 'b', 'c'}
print(set1)

{'b', 'c', 'a'}

Q17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

In [ ]:
set2 = {1, 2, 3, 4, 5}
set2.clear()
print(set2)

set()

Q 18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.

In [ ]:
set3 = {1, 2, 3, 4}
set3.remove(4)
print(set3)

{1, 2, 3}

Q19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

In [ ]:
set4 = {1, 2, 3}
set5 = {3, 4, 5}
print(set4.union(set5))

{1, 2, 3, 4, 5}

 Q20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

In [ ]:
set6 = {1, 2, 3}
set7 = {2, 3, 4}
print(set6.intersection(set7))

{2, 3}

Q21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

In [ ]:
dict1 = {"name": "Divanshu", "age": 20, "city": "Delhi"}
print(dict1)

{'name': 'Divanshu', 'age': 20, 'city': 'Delhi'}

Q22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

In [ ]:
dict2 = {'name': 'John', 'age': 25}
dict2["country"] = "USA"
print(dict2)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [ ]:
Q 23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

In [ ]:
dict3 = {'name': 'Alice', 'age': 30}
print(dict3["name"])

Alice

In [ ]:
Q24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

In [ ]:
dict4 = {'name': 'Bob', 'age': 22, 'city': 'New York'}
dict4.pop("age")
print(dict4)

{'name': 'Bob', 'city': 'New York'}

 Q25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

In [ ]:
dict5 = {'name': 'Alice', 'city': 'Paris'}
print("city" in dict5)

True

Q 26. Write a code to create a list, a tuple, and a dictionary, and print them all.

In [ ]:
list1 = [1, 2, 3]
tuple1 = (1, 2, 3)
dict1 = {"a": 1, "b": 2, "c": 3}

print("List:", list1)
print("Tuple:", tuple1)
print("Dictionary:", dict1)

List: [1, 2, 3]
Tuple: (1, 2, 3)
Dictionary: {'a': 1, 'b': 2, 'c': 3}

Q 27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result (replaced)

In [ ]:
import random
rand_nums = random.sample(range(1, 101), 5)
rand_nums.sort()
print(rand_nums)

[1, 22, 68, 74, 82]

Q28. Write a code to create a list with strings and print the element at the third index.

In [ ]:
list1 = ["apple", "banana", "cherry", "date", "elderberry"]
print(list1[2])

cherry

 Q29. Write a code to combine two dictionaries into one and print the result.

In [ ]:
dict1 = {"a": 1, "b": 2}
dict2 = {"c": 3, "d": 4}
dict1.update(dict2)
print(dict1)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

Q30. Write a code to convert a list of strings into a set.

In [ ]:
print(set(["apple", "banana", "cherry"]))
type("set")

{'apple', 'banana', 'cherry'}

str